<h1>Change Appointment</h1>
<%= render partial: 'errors_form' %> 

<%= form_for @appointment, url: user_appointment_path(@appointment.user_id, @appointment) do |f| %>
<%= f.hidden_field :user_id, value: current_user.id %>
<%= f.label :pet %>
<%= f.collection_select :pet_id, current_user.pets, :id, :name %>
<br>
<br>
<%= f.label :vet_provider %>
<%= f.collection_select :vet_provider_id, VetProvider.all, :id, :name %>
<br>
<br>
<%= f.label :reason_for_visit%>
<%= f.select :reason_for_visit, Appointment.visit_reasons %>
<br>
<br>
<%= f.label :date_time %>
<%= f.datetime_select :date_time %>
<br>
<br>
<%= f.submit %>
<br>
<br>
<br>
<% end %>