<% if !@user.has_appointments%>

  <div class='buttons'>
  <%= link_to 'New Appointment', new_user_appointment_path(@user)%>
  </div>
  <br>
  <h3>You Currently Do Not Have Any Appointments</h3>
  <h5>Click 'New Appointment' to Schedule One!</h5>
  <br>

<% else %>

  <div class="buttons">
  <%= link_to 'New Appointment', new_user_appointment_path(@user)%>
  </div>
  <br>
  <h2>Your Upcoming Appointments</h2>
  <div>
  <% @appointments.each do |appointment|%>
  <p><b>Appt for:</b> <%= appointment.pet.name %></p>
  <p><b>Reason for Visit: </b><%= link_to appointment.reason_for_visit, user_appointment_path(@user, appointment) %></p>
  <p><b>Vet:</b> <%= appointment.vet_provider.name %></p>
  <p><b>Date/Time:</b> <%= appointment.date_time.strftime('%b %e, %l:%M %p') %></p>
  <br>
  <% end %>
  </div>
  
<% end %>


