<div>
<p><%= @appointment.reason_for_visit %></p>
<br>
<p><%= @appointment.date_time.strftime('%b %e, %l:%M %p') %></p>
</div>

<div class="buttons ">
<%= link_to 'Change Appointment', edit_user_appointment_path(@appointment.user_id, @appointment)%>
<%= link_to 'New Appointment', new_user_appointment_path(@user)%>
<%= link_to "Delete", @appointment, method: :delete, data: { confirm: "Are You Sure?" } %>
</div>

