<!DOCTYPE html>
<html>
  <head>
    <title>PetID</title>
     <link rel="stylesheet" href="/styles.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
        <%= render 'devise/menu/welcome_items' %>
    </div>

    <div class='content'>
      <h1>PetMed</h1>
      <h2>Modern Healthcare for Your Pet</h2>
    </div>
    <div align="center">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>

    </div>
    <div class="footer">
      <p><%= render 'devise/menu/welcome_items' %></p>
    </div>
  </body>
</html>
