<div>
<%= @pets.each do |pet|%>
  <p><%= link_to pet.name, user_pet_path(pet) %></p>
  <p><%= pet.animal_type %></p>
  <p><%= pet.breed %></p>
  <p><%= pet.gender %></p>
  <p><%= pet.birthdate %></p>
  <p><%= pet.weight %></p>
  <% end %>
</div>

<div class='buttons'>
<%= link_to 'New Pet', new_user_pet_path(@user)%>
</div>