<h2>Your Pets!</h2>
<div class='buttons'>
<%= link_to 'New Pet', new_user_pet_path(@user)%>
</div>
<br>
<div>
<% @pets.each do |pet|%>
  <p><%= @pet.image %></p>
  <p><%= link_to pet.name, user_pet_path(@user, pet) %></p>
  <p><%= pet.animal_type %></p>
  <p><%= pet.breed %></p>
  <p><%= pet.gender %></p>
  <p><%= pet.birthdate %></p>
  <p><%= pet.weight %></p>
  <% end %>
</div>

