<h1>Create New Pet!</h1>
<%= render partial: 'errors_form' %> 

<%= form_for @pet, url: user_pets_path(@pet.user) do |f| %>
<%= f.hidden_field :user_id %>
<%= f.label :name%>
<%= f.text_field :name %>
<br>
<br>
<%= f.label :animal_type %>
<%= f.text_field :animal_type %>
<%# <%= f.collection_select :animal_type, Pet.all, :id, :animal_type %>
<%# <%= f.collection_select Pet.allowed_types.each%> 
<br>
<br>
<%= f.label :breed %>
<%= f.text_field :breed %>
<%# <%= f.collection_select :breed, Pet.allowed_breeds, :id, :breed %> %>
<br>
<br>
<%= f.label :gender %>
<%= f.text_field :gender %>
<%# <%= f.collection_select :gender, Pet.allowed_genders, :user_id, :gender %> %>
<br>
<br>
<%= f.label :birthdate %>
<%= f.date_select :birthdate %>
<br>
<br>
<%= f.label :weight %>
<%= f.number_field :weight %>
<br>
<br>
<%= f.label :image_link %>
<%= f.text_field :image %>
<br>
<br>
<%= f.submit %>
<br>
<br>
<br>
<% end %>