<div class='buttons'>
<%= link_to "Remove Pet", user_pet_path(@pet.user_id, @pet), method: :delete, data: { confirm: "Are You Sure?" } %>
</div>
<div class='buttons'>
<%= link_to 'New Pet', new_user_pet_path(@user) %>
</div>
<div class='buttons'>
<%= link_to 'Edit Pet', edit_user_pet_path(@pet.user_id, @pet)%>
</div>

<br>
<div class="cards-list card">
  <div class="card_title title-black">
  <p><%= @pet.name %></p>
  <div class="card_image"> <img src="<%= @pet.image %>" /> </div>
  </div>
</div>

  <p>Gender: <%= @pet.gender %> </p>  
  <p><%= @pet.animal_type %> - <%= @pet.breed%></p>
  <p>Weight: <%= @pet.weight %> lbs</p>
  <p>Birth Date: <%= @pet.birthdate.strftime('%b %d, %Y') %></p>

