<div class='buttons'>
<%= link_to 'Edit Pet', edit_user_pet_path(@pet.user_id, @pet)%>
<%= link_to 'New Pet', new_user_pet_path(@user) %>
<%= link_to "Remove Pet", @pet, method: :delete, data: { confirm: "Are You Sure?" } %>
</div>

<div>
  <p><%= @pet.name %></p>
  <p><%= @pet.animal_type %></p>
  <p><%= @pet.breed %></p>
  <p><%= @pet.gender %></p>
  <p><%= @pet.birthdate %></p>
  <p><%= @pet.weight %></p>
</div>

