<div class='buttons'>
<%= link_to "Remove Pet", user_pet_path(@pet.user_id, @pet), method: :delete, data: { confirm: "Are You Sure?" } %>
</div>
<div class='buttons'>
<%= link_to 'New Pet', new_user_pet_path(@user) %>
</div>
<div class='buttons'>
<%= link_to 'Edit Pet', edit_user_pet_path(@pet.user_id, @pet)%>
</div>

<br>
<ul class="image-list-small">
  <li>
  <a style="background-image: url('<%= @pet.image %>');"></a>
  <div class="details">
    <h3><%= @pet.name %></h3>
    <div class="image-details">
      <p>Gender: <%= @pet.gender %> </p>  
      <p><%= @pet.animal_type %> - <%= @pet.breed%></p>
      <p>Weight: <%= @pet.weight %> lbs</p>
      <p>Birth Date: <%= @pet.birthdate.strftime('%b %d, %Y') %></p>
    </div>
  </div>
  </li>
</ul>  
