<h2>Welcome <%= @user.email %>!</h2>

<% if @user.has_pets%>
  <h3><%= link_to "My Pets", user_pets_path(@user) %></h3>
<% else %>
  <h3><%= link_to "My Pets", new_user_pet_path(@user) %></h3>
<% end %>

<% if @user.has_appointments%>
  <h3><%= link_to "My Appointments", user_appointments_path(@user) %></h3>
<% else %>
  <h3><%= link_to "My Appointments", new_user_appointment_path(@user) %></h3>
<% end %>

<h3><%= link_to "My Vets", vet_providers_path %></h3> 
